langchain
langchain-community
ipykernel
python-dotenv
pypdf ## for PDF Based Loader
bs4 ## for Web Based Loader
arxiv
PyMuPDF ## for Arxiv Loader
wikipedia

langchain-text-splitters

langchain-openai  ## Paid OpenAI
langchain-google-genai ## Gemini Free one
langchain-ollama ## Ollama Open Source
langchain-groq ## Groq Open Source
langchain-core ## For HumanMessage, SystemMessage

chromadb ## vector store
langchain_chroma

sentence_transformers ## for Hugging Face
langchain_huggingface
huggingface_hub[hf_xet] ## for embeddings using Large HG Models

faiss-cpu ## for vectorstore

beautifulsoup4

streamlit

fastapi==0.110.0 ## for LangServe
langserve[all]
pydantic==2.7.1